.aboutus h1 {
  margin-top: 110px;
  color: tomato;
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.aboutus h2 {
  color: tomato;
  font-size: 18px;
}

.aboutus li:hover {
  color: black;
  transform: none;
}

.aboutus p a:hover {
  color: tomato;
}
.aboutus .updated {
  font-size: 15px;
  color: gray;
  display: flex;
  justify-content: right;
}
